<div class="container">
  <fieldset>
    <legend>Artículos disponibles a la venta:</legend>
    <ag-grid-angular style="width: 950px; height: 500px;" 
      class="ag-theme-balham" 
      [enableSorting]="true"
      [enableFilter]="true"
      [rowData]="rowData" 
      [columnDefs]="columnDefs">
    </ag-grid-angular>
  </fieldset>
</div>