<div class="container">
  <fieldset>
    <legend>Ingrese los datos del nuevo producto:</legend>
    <div class="form-group row">
      <label for="desArt" class="col-1">Descripción:</label>
      <div class="col-sm-3">
        <input class="form-control" type="text" id="desArt" [(ngModel)]="articulo.nombreproducto" name="nombreproducto">
      </div>
      <div class="col-sm-1">
      </div>
      <label for="idTipo" class="col-1">Tipo:</label>
      <div class="col-sm-3">
        <select id="idTipo" class="form-control" [(ngModel)]="clasificacionSeleccionada" (ngModelChange)="seleccionarClasificacion($event)">
          <option selected="selected" value="null" disabled>seleccione un tipo</option>
          <option *ngFor="let cla of clasificaciones" [value]="cla.id">{{cla.nombreclasificacion}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="exisArt" class="col-1">Existencia:</label>
      <div class="col-sm-3">
        <input class="form-control" type="text" id="exisArt" [(ngModel)]="articulo.existencia" name="existencia">
      </div>
      <div class="col-sm-1">
      </div>
      <label for="idOrigen" class="col-1">Origen:</label>
      <div class="col-sm-3">
        <select id="idOrigen" class="form-control" [(ngModel)]="catalogoSeleccionado" (ngModelChange)="seleccionarCatalogo($event)">
          <option selected="selected" value="null" disabled>seleccione un origen</option>
          <option *ngFor="let ctl of catalogos" [value]="ctl.id">{{ctl.nombrecatalogo}}</option>
        </select>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-primary">Nuevo</button>
      </div>
    </div>

    <div class="form-group row">
      <label for="precioArt" class="col-1">Precio:</label>
      <div class="col-sm-3">
        <input class="form-control" type="text" id="precioArt" [(ngModel)]="articulo.precio" name="precio">
      </div>
      <div class="col-sm-1">
      </div>
    </div>

    <button type="submit" class="btn btn-default" (click)="crearArticulo()">Registrar nuevo artículo</button>
  </fieldset>

  <br>
  <ngb-alert *ngIf="mensajeAlerta" type="success" (close)="closeAlert()">{{mensajeAlerta}}</ngb-alert>
</div>