<div class="header">
  <div class="logo">
    <i class="fa fa-database"></i>
    <span>Kardex</span>
  </div>
  <i class="nav-trigger fa fa-bars fa-lg" style="top: 40%;"></i>
</div>
<div class="side-nav">
  <div class="logo">
    <i class="fa fa-database"></i>
    <span>Kardex</span>
  </div>
  <nav>
    <ul>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/dashboard/home']">
          <span>
            <i class="fa fa-home"></i>
          </span>
          <span>Inicio</span>
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/dashboard/nuevo']">
          <span>
            <i class="fa fa-calculator"></i>
          </span>
          <span>Nuevo Producto</span>
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/dashboard/venta']">
          <span>
            <i class="fa fa-cart-arrow-down"></i>
          </span>
          <span>Venta</span>
        </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/dashboard/actualizaciones']">
          <span>
            <i class="fa fa-cogs"></i>
          </span>
          <span>Actualizacioness
          </span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="main-content">
  <router-outlet></router-outlet>
</div>